<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ygjy.supervision.dao.DrugItemsMapper">
    <resultMap id="BaseResultMap" type="com.ygjy.pojo.DrugItems">
        <id column="items_id" jdbcType="INTEGER" property="itemsId" />
        <result column="drug_items_number" jdbcType="VARCHAR" property="drugItemsNumber" />
        <result column="common_name" jdbcType="VARCHAR" property="commonName" />
        <result column="dosage_form_id" jdbcType="INTEGER" property="dosageFormId" />
        <result column="specification" jdbcType="VARCHAR" property="specification" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="conversion_fraction" jdbcType="VARCHAR" property="conversionFraction" />
        <result column="drug_category_id" jdbcType="INTEGER" property="drugCategoryId" />
        <result column="state" jdbcType="INTEGER" property="state" />
    </resultMap>
    <sql id="Base_Column_List">
    items_id, drug_items_number, common_name, dosage_form_id, specification, unit, conversion_fraction, 
    drug_category_id, `state`
  </sql>
    <select id="findAllDrugItems" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from drug_items
        <where>
            state = 1
        <if test="drugItemsNumber!=null and drugItemsNumber!=''">
            and drug_items_number like "%"#{drugItemsNumber}"%"
        </if>
        <if test="commonName!=null and commonName !=''">
            and common_name like "%"#{commonName}"%"
        </if>
        <if test="dosageFormId!=0 and dosageFormId !=''">
            and dosage_form_id like "%"#{dosageFormId}"%"
        </if>
        <if test="specification!=null and specification !=''">
            and specification like "%"#{specification}"%"
        </if>
        <if test="unit!=null and unit !=''">
            and unit like "%"#{unit}"%"
        </if>
        <if test="conversionFraction!=null and conversionFraction !=''">
            and conversion_fraction like "%"#{conversionFraction}"%"
        </if>
        <if test="drugCategoryId!=0 and drugCategoryId !=''">
            and drug_category_id like "%"#{drugCategoryId}"%"
        </if>
        </where>
    </select>
    <select id="findDrugItemsCount" resultType="java.lang.Integer">
        select count(*) from drug_items where  state = 1
    </select>
    <select id="findMaxItemsId" resultType="java.lang.Integer">
        select max(items_id) from drug_items
    </select>
    <update id="updateItemsState" parameterType="java.lang.Integer">
        update drug_items set state = 2 where items_id = #{itemsId}
    </update>
    <insert id="drugItemsAdd" parameterType="com.ygjy.pojo.DrugItems">
        insert into drug_items (items_id, drug_items_number, common_name,
      dosage_form_id, specification, unit,
      conversion_fraction, drug_category_id, `state`)
      select #{itemsId},#{drugItemsNumber},#{commonName},#{dosageFormId},#{specification},#{unit},#{conversionFraction},#{drugCategoryId},#{state} from DUAL
      where NOT EXISTS (SELECT * FROM drug_items where common_name = #{commonName} and dosage_form_id = #{dosageFormId} and specification=#{specification} and unit=#{unit} and conversion_fraction=#{conversionFraction})
    </insert>
    <select id="findDrugItemsByDrugItems" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from drug_items
        <where>
            <if test="commonName!=null and commonName !=''">
                and common_name = #{commonName}
            </if>
            <if test="dosageFormId!=0 and dosageFormId !=''">
                and dosage_form_id = #{dosageFormId}
            </if>
            <if test="specification!=null and specification !=''">
                and specification = #{specification}
            </if>
            <if test="unit!=null and unit !=''">
                and unit = #{unit}
            </if>
            <if test="conversionFraction!=null and conversionFraction !=''">
                and conversion_fraction = #{conversionFraction}
            </if>
        </where>
    </select>
</mapper>