<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <title>结算单维护</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/AdminLTE.css">
    <link rel="stylesheet" href="js/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="js/angularjs/toaster.min.css">
    <script src="js/jQuery/jquery-2.2.3.min.js"></script>
    <script src="js/plugins/bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        function down(){
            window.location.href="down";
        }
    </script>

<!--添加结算单-->
<script type="text/javascript">

    var returnOrderNumber = $("#return_order_number").val();
    var returnOrderName = $("#return_order_name").val();
    var hospitalId = $("#hospital_id").val();
    var contacts = $("#contacts").val();
    var phone = $("#phone").val();
    var creatReceiptsPerson = $("#creat_receipts_person").val();
    var createReceiptsTime = $("#create_receipts_time").val();
    var submissionTime = $("#submission_time").val();
    var remark = $("#remark").val();
    var returnStateId = $("#return_state_id").val();

    function saveReturnForm(){
        $.ajax({

        })
    }


    /*/!*批量删除*!/
    function xiaOnclick() {
        var clickpool = true;
        $.each($(".checkboxxia"),function(index,item){
            if($(item).prop("checked")==false)clickpool=false;
        })
        $("#checkboxMain").prop("checked",clickpool)
    }

    function mainOnclick() {
        $.each($(".checkboxxia"),function(index,item){
            $(item).prop("checked",$("#checkboxMain").prop("checked"));
        })
    }

    function BatchDelete() {
        var bool = false;
        var list = new Array();
        /!*var st="";*!/
        $.each($("input[class='checkboxxia']:checkbox:checked"),function(index,item){
            list.push($(item).val());

            /!*st+=$(item).val()+",";*!/

            /!*console.log($(item).val());*!/
            bool = true;
        });

        if(true){
            $.ajax({
                type:"GET",
                url:"removeByKeys",
                dataType:"json",
                data:{"list":list}, // 传输一个list集合包含所选框的id,,,,也可以传一个st到后台data:{"list":st},
                success:function (result) {
                    var b = result;
                    if (result > 0){
                        alert("删除成功!");
                        window.location.reload();
                    }else{
                        alert("删除失败!");
                    }
                }
            })
        }else {
            alert("请选择数据");
        }
    }*/
</script>



</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="shebao" ng-controller="registrationOfCasesController">
<!-- .box-body -->
<toaster-container toaster-options="{'time-out': 1000,'position-class':'toast-top-center'}"></toaster-container>

<div class="panel panel-info">

    <!--退货单-->
    <div class="panel-heading">结算单查看</div>
    <table class="table" >
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">结算单编号：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_unitName1">
            </td>


            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">结算单名称：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_organizationalCode1">
            </td>
        </tr>

        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">医院编号：</span>
            </td>
            <td>
                <input class="form-control">
            </td>

            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">联系人：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>

        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">联系电话：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">建单人：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">建单时间：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">提交时间：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">备注：</span>
            </td>
            <td>
                <input class="form-control">
            </td>

            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">结算单状态：</span>
            </td>
            <td>
                <select id="return_state_id1" name="returnStateId" style="width: 50%;height: 20%">
                    <option value="1">未提交</option>
                    <option value="2">提交</option>
                </select>
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 10px">
        <button class="btn btn-success btn-sm" onclick="saveReturnForm()">
            保存退货单
        </button>
        <button type="button" class="btn btn-success btn-sm"  data-toggle="modal"
                data-target="#editModal">提交结算单
        </button>
    </div>

    <!-- Default panel contents -->
    <div class="panel-heading">结算药品查询</div>
    <!-- Table -->
    <table class="table" >
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单编号：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_unitName">
            </td>


            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单名称：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_organizationalCode">
            </td>
        </tr>

        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">供货商：</span>
            </td>
            <td>
                <select style="width: 50%;height: 20%">
                    <option value="0">请选择</option>
                </select>
                <!-- <input class="form-control" id="searchEntity_nameOfRegistrant" >-->
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品类别：</span>
            </td>
            <td>
                <select style="width: 50%;height: 20%">
                    <option value="0">全部</option>
                </select>
                <!-- <input class="form-control" id="" >-->
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品流水号：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">通用名：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">剂型：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">规格：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">单位：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">转换系数：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">生产企业：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">商品名：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">质量层次：</span>
            </td>
            <td>
                <select style="width: 50%;height: 20%">
                    <option value="0">全部</option>
                </select>
                <!-- <input class="form-control" id="" style="width: 50%;height: 20%">-->
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">入库时间：</span>
            </td>
            <td style="word-break: keep-all;white-space: nowrap;width: 32%">
                <input style="width: 40%"><span style="color: #0E74B4">至</span><input style="width: 40%;">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品批号：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">退货状态：</span>
            </td>
            <td>
                <select style="width: 50%;height: 20%">
                    <option value="0">全部</option>
                </select>
                <!-- <input class="form-control" id="" >-->
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">发票号或入库单号：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 10px">
        <button class="btn btn-success btn-sm" onclick="selectByEntity()">查询</button>
        <button type="button" class="btn btn-success btn-sm"  data-toggle="modal"
                data-target="#editModal">导出
        </button>
    </div>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <!-- 数据表格 -->
        <div class="table-box">
            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#editModal1">添加
                        </button>
                        <button type="button" class="btn btn-success btn-sm" onclick="BatchDelete()">
                            删除
                        </button>
                        <button type="button" class="btn btn-success btn-sm" >保存退货量
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="sorting_asc">采购单编号</th>
                <th class="sorting_asc">采购单名称</th>
                <th class="sorting">供货商</th>
                <th class="sorting">药品类别</th>
                <th class="sorting">药品流水号</th>
                <th class="sorting">通用名</th>
                <th class="sorting">剂型</th>
                <th class="sorting">规格</th>
                <th class="sorting">单位</th>
                <th class="sorting">转换系数</th>
                <th class="sorting">生产企业</th>
                <th class="sorting">商品名</th>
                <th class="sorting">质量层次</th>
                <th class="sorting">入库时间</th>
                <th class="sorting">药品批号</th>
                <th class="sorting">退货状态</th>
                <th class="sorting">发票号或入库单号</th>
                <th class="sorting">修改</th>

            </tr>
            </thead>
            <tbody class="context">
            <tr>
                <td>00008</td>
                <td>0.</td>
                <td>大输</td>
                <td>1</td>
                <td>瓶</td>
                <td>1</td>
                <td>3</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>
                    <a href="#">修改</a>
                </td>
            </tr>
            </tbody>

        </table>
        <!--数据列表/-->
        <!--分页工具条展示-->
        <div style="text-align: center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 数据表格 /-->
</div>
<div class="modal fade" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button id="bt" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabe">结算单页面</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" id="id_table">
                    <tr>
                        <td>结算单编号:</td>
                        <td><input id="return_order_number" name="returnOrderNumber" class="form-control"></td>
                        <td>结算单名称:</td>
                        <td><input id="return_order_name" name="returnOrderName" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>医院id:</td>
                        <td><input id="hospital_id" name="hospitalId" class="form-control"></td>

                        <td>联系人:</td>
                        <td><input id="contacts" name="contacts" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>联系电话:</td>
                        <td><input id="phone" name="phone" class="form-control"></td>

                        <td>建单人:</td>
                        <td><input id="creat_receipts_person" name="creatReceiptsPerson" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>建单时间:</td>
                        <td><input id="create_receipts_time" name="createReceiptsTime" class="form-control"></td>

                        <td>提交时间:</td>
                        <td><input id="submission_time" name="submissionTime" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>备注:</td>
                        <td><input id="remark" name="remark" class="form-control"></td>

                        <td>结算单状态:</td>
                        <td><input id="return_state_id" name="returnStateId" class="form-control"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="saveReturnForm()" data-dismiss="modal">保存结算单</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel1">药品品目导入</h3>
            </div>
            <div style="text-align: center">
                下载模板文件<a href="#">点击下载药品品目导入模板</a>
            </div>
            <div style="text-align: center;color: red">提示：请下载后在模板文件中录入药品信息,在下面的“选择文件”中选择要导入的文件,点击“导入”</div>
            <div class="modal-body" style="text-align: center">
                <input type="file" name="file" id="file">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="uploadfile()">上传</button>
                <button class="btn btn-warning" onclick="">查看导入失败结果</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>


        </div>
    </div>
</div>
</body>
</html>



