<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <title>退货单维护</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="js/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="js/angularjs/toaster.min.css">
    <script src="js/jQuery/jquery-2.2.3.min.js"></script>
    <script src="js/plugins/bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        function down(){
            window.location.href="down";
        }
    </script>


    <!--导出到excel-->
<!--    <script type="text/javascript">

        function exportAll() {
            var formData = $("#fuzzyFormId").serialize()
            if (confirm("确定导出文件吗？")){
                location.href="exportAll?"+formData;
            }
        }

    </script>-->


    <script type="text/javascript">
        var qian;
        var hou;
        $(function () {
            selectByEntity();
        })
        //查询
        function selectByEntity(pageNum){

            $("#tbody").empty();

            var purchaseOrderNumber=$("#purchase_order_number").val();
            var nameOfPurchaseOrder=$("#name_of_purchase_order").val();
            var supplierName=$("#supplier_name").val();
            var serialNumber=$("#serial_number").val();
            var commonName=$("#common_name").val();
            var drugFrom=$("#drug_from").val();
            var specification=$("#specification").val();
            var unit=$("#unit").val();
            var conversionFraction=$("#conversion_fraction").val();
            var enterpriseName=$("#enterprise_name").val();
            var tradeName=$("#trade_name").val();
            var level=$("#level").val();
            if (level==0)level=null;
            var createReceiptsTime=$("#create_receipts_time").val();/*建单时间  /  入库时间*/
            var submissionTime=$("#submission_time").val();/*提交时间    /   出库时间*/
            var drugBatchNumber=$("#drug_batch_number").val()
            var returnOfState=$("#return_of_state").val();//退货状态表
            var InvoiceNumber=$("#Invoice_number").val();//发票
            $.ajax({
                url:"seletedrugs",
                data:{
                    "purchaseOrderNumber":purchaseOrderNumber,
                    "nameOfPurchaseOrder":nameOfPurchaseOrder,
                    "supplierName":supplierName,
                    "serialNumber":serialNumber,
                    "commonName":commonName,
                    "drugFrom":drugFrom,
                    "specification":specification,
                    "unit":unit,
                    "conversionFraction":conversionFraction,
                    "enterpriseName":enterpriseName,
                    "tradeName":tradeName,
                    "level":level,
                    "createReceiptsTime":createReceiptsTime,
                    "submissionTime":submissionTime,
                    "drugBatchNumber":drugBatchNumber,
                    "returnOfState":returnOfState,
                    "InvoiceNumber":InvoiceNumber,
                    "pageNum":pageNum
                },
                type:"post",
                dataType:"json",
                success:function (listss) {
                    console.log(listss);
                    page = listss;
                    var ss = "";
                    for (var i = 0; i < listss.list.length; i++) {
                        /*时间处理*/
                        var date=listss.list[i].purchaseOrder.createReceiptsTime;
                        var date2=listss.list[i].purchaseOrder.submissionTime;
                        var s2=new Date(date2);
                        var s=new Date(date);
                        year=s.getFullYear();
                        month=s.getMonth()+1;
                        day=s.getDate();
                        time=year+'-'+getzf(month)+'-'+getzf(day);
                        year1=s2.getFullYear();
                        month1=s2.getMonth()+1;
                        day1=s2.getDate();
                        time2=year1+'-'+getzf(month1)+'-'+getzf(day1);
                        console.log(listss.list[i])
                        ss = "<tr><td><input type=\"checkbox\" style='width: 40px;' class=\"checkboxxia\" onclick=\"xiaOnclick()\" value=" + listss.list[i].id + "></td><td>"
                            + listss.list[i].purchaseOrder.purchaseOrderNumber + "</td><td>"
                            + listss.list[i].purchaseOrder.nameOfPurchaseOrder + "</td><td>"
                            + listss.list[i].suppliers.supplierName+ "</td><td>"
                            + listss.list[i].drugInformation.serialNumber + "</td><td>"
                            + listss.list[i].drugInformation.commonName + "</td><td>"
                            + listss.list[i].durgsFrom.drugFrom + "</td><td>"
                            + listss.list[i].drugInformation.specification + "</td><td>"
                            + listss.list[i].drugInformation.unit + "</td><td>"
                            + listss.list[i].drugInformation.conversionFraction + "</td><td>"
                            + listss.list[i].enterprise.enterpriseName+ "</td><td>"
                            + listss.list[i].drugInformation.tradeName + "</td><td>"
                            /*+ listss.list[i].qualityLevel.level + "</td><td>"*/
                            + time+ "</td><td>"
                            + time2+ "</td><td>"
                            + listss.list[i].drugBatchNumber + "</td><td>"
                            + listss.list[i].returnStatus.returnOfState+ "</td><td>"
                            + listss.list[i].InvoiceNumber + "</td>"
                            + "<td><button type=\"button\" class=\"btn btn-success btn-sm\" data-toggle=\"modal\" onclick=\"updateSee(" + listss.list[i].id + ")\" data-target=\"#editModal2\">修改</button></td>"
                            + "<td><button type=\"button\" class=\"btn btn-success btn-sm\" data-toggle=\"modal\" onclick=\"dele(" + listss.list[i].id + ")\">删除</button></td></tr>"

                        $("#tbody").append(ss);
                        qian = listss.pageNum == 1 ? 1 : listss.pageNum - 1;
                        hou = listss.pageNum == listss.pages ? listss.pages : listss.pageNum + 1;
                    }
                }
            })
        }
        function getzf(num) {
            if(parseInt(num)<10){
                num='0'+num;
            }
            return num;
        }

    </script>


</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="shebao" ng-controller="registrationOfCasesController">
<!-- .box-body -->
<toaster-container toaster-options="{'time-out': 1000,'position-class':'toast-top-center'}"></toaster-container>

<div class="panel panel-info">

    <!--退货单-->
    <div class="panel-heading">退货单查看</div>
    <table class="table" >
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">退货单编号：</span>
            </td>
            <td >
                <input class="form-control" id="fbv">
            </td>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">退货单名称：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_organizationalCode1">
            </td>
        </tr>

        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">医院编号：</span>
            </td>
            <td>
                <input class="form-control">
            </td>

            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">联系人：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>

        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">联系电话：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">建单人：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">建单时间：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">提交时间：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">备注：</span>
            </td>
            <td>
                <input class="form-control">
            </td>

            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">退货单状态：</span>
            </td>
            <td>
                <select id="return_state_id1" name="returnStateId" style="width: 50%;height: 20%">
                    <option value="1">未提交</option>
                    <option value="2">提交</option>
                </select>
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 10px">
        <button class="btn btn-success btn-sm" onclick="saveReturnForm()">
            保存退货单
        </button>
        <button type="button" class="btn btn-success btn-sm"  data-toggle="modal"
                data-target="#editModal">提交退货单
        </button>
    </div>

    <!-- Default panel contents -->
    <div class="panel-heading">退货药品查询</div>
    <!-- Table -->

    <form action="" id="yy" method="post">

    <table class="table" >
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单编号：</span>
            </td>
            <td >
                <input class="form-control" id="purchase_order_number" name="purchaseOrderNumber">
            </td>


            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单名称：</span>
            </td>
            <td >
                <input class="form-control" id="name_of_purchase_order" name="nameOfPurchaseOrder">
            </td>
        </tr>

        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">供货商：</span>
            </td>
            <td>
                <select id="supplier_name" name="supplierName" style="width: 50%;height: 20%">
                    <option value="0">请选择</option>
                </select>
                <!-- <input class="form-control" id="searchEntity_nameOfRegistrant" >-->
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品类别：</span>
            </td>
            <td style="white-space:nowrap">
                <select class="num" id="drug_category_id" name="drugCategoryId" onblur="checkDrugCategory()" style="width:50%;height: 10%">
                    <option value="0">请选择</option>
                    <option value="1">处方药</option>
                    <option value="0">非处方药</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品流水号：</span>
            </td>
            <td>
                <input id="serial_number" name="serialNumber" class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">通用名：</span>
            </td>
            <td>
                <input id="common_name" name="commonName" class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">剂型：</span>
            </td>
            <td style="white-space:nowrap">
                <select  id="drug_from" name="drugFrom" onblur="checkDosageForm()" style="width:50%;height: 10%">
                    <option value="0">请选择</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">规格：</span>
            </td>
            <td>
                <input id="specification" name="specification" class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">单位：</span>
            </td>
            <td>
                <input id="unit" name="unit" class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">转换系数：</span>
            </td>
            <td>
                <input id="conversion_fraction" name="conversionFraction" class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">生产企业：</span>
            </td>
            <td>
                <input id="enterprise_name" name="enterpriseName" class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">商品名：</span>
            </td>
            <td>
                <input id="trade_name" name="tradeName" class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">质量层次：</span>
            </td>
            <td style="white-space:nowrap">
                <select class="num" id="level" name="level" onblur="checkDosageForm()" style="width:50%;height: 10%">
                    <option value="0">请选择</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">入库时间：</span>
            </td><!--purchase_order采购表  建单时间   提交时间-->
            <td style="word-break: keep-all;white-space: nowrap;width: 32%">
                <input  id="create_receipts_time" name="createReceiptsTime" style="width: 40%"><span style="color: #0E74B4">至</span><input id="submission_time" name="submissionTime" style="width: 40%;">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品批号：</span>
            </td>
            <td>
                <input id="drug_batch_number" name="drugBatchNumber" class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">退货状态：</span>
            </td>
            <td>
                <select id="return_of_state" name="returnOfState" style="width: 50%;height: 20%">
                    <option value="1">未确认退货</option>
                    <option value="2">已确认退货</option>
                </select>
                <!-- <input class="form-control" id="" >-->
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">发票号或入库单号：</span>
            </td>
            <td>
                <input id="Invoice_number" name="InvoiceNumber" class="form-control">
            </td>
        </tr>
    </table>

    </form>

    <div style="text-align: center;padding-top: 10px">
        <button class="btn btn-success btn-sm" onclick="selectByEntity()">查询</button>
        <button type="button" class="btn btn-success btn-sm" onclick="importOne()"  >导出
        </button>
    </div>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <!-- 数据表格 -->
        <div class="table-box">
            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" onclick="findDrugFromAndDrugCategory()"
                                data-target="#editModal1">添加
                        </button>
                        <!--<button type="button" class="btn btn-success btn-sm" onclick="BatchDelete()">
                            删除
                        </button>-->
                        <button type="button" class="btn btn-success btn-sm" >保存退货量
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th><input type="checkbox" id="checkboxMain" onclick="mainOnclick()" value=''></th>
                <th class="sorting_asc">采购单编号</th>
                <th class="sorting_asc">采购单名称</th>
                <th class="sorting">供货商</th>
                <th class="sorting">药品类别</th>
                <th class="sorting">药品流水号</th>
                <th class="sorting">通用名</th>
                <th class="sorting">剂型</th>
                <th class="sorting">规格</th>
                <th class="sorting">单位</th>
                <th class="sorting">转换系数</th>
                <th class="sorting">生产企业</th>
                <th class="sorting">商品名</th>
                <th class="sorting">质量层次</th>
                <th class="sorting">入库时间</th>
                <th class="sorting">出库时间</th>
                <th class="sorting">药品批号</th>
                <th class="sorting">退货状态</th>
                <th class="sorting">发票号或入库单号</th>
                <th class="sorting">修改</th>
                <th class="sorting">删除</th>
            </tr>
            </thead>
            <tbody class="context" id="tbody">
            <tr>
                <td>00008</td>
                <td>0.</td>
                <td>大输</td>
                <td>1</td>
                <td>瓶</td>
                <td>1</td>
                <td>3</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>正常</td>
                <td>
                    <a href="#" data-target="#editModal1" data-toggle="modal">修改</a>
                </td>
                <td>
                    <a href="#">删除</a>
                </td>
            </tr>
            </tbody>

        </table>
        <!--数据列表/-->
        <!--分页工具条展示-->
        <div style="text-align: center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous" onclick="selectByEntity(qian)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#" onclick="selectByEntity(1)">1</a></li>
                    <li><a href="#" onclick="selectByEntity(2)">2</a></li>
                    <li><a href="#" onclick="selectByEntity(3)">3</a></li>
                    <li><a href="#" onclick="selectByEntity(4)">4</a></li>
                    <li><a href="#" onclick="selectByEntity(5)">5</a></li>
                    <li>
                        <a href="#" aria-label="Next" onclick="selectByEntity(hou)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 数据表格 /-->
</div>
<div class="modal fade" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button id="bt" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabe">退货单页面</h3>
            </div>
            <div class="modal-body">
                <table class="table" >
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单编号：</span>
                        </td>
                        <td >
                            <input class="form-control" id="purchase_order_number2" name="purchaseOrderNumber">
                        </td>


                        <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单名称：</span>
                        </td>
                        <td >
                            <input class="form-control" id="name_of_purchase_order2" name="nameOfPurchaseOrder">
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">供货商：</span>
                        </td>
                        <td>
                            <select id="supplier_name2" name="supplierName" style="width: 50%;height: 20%">
                                <option value="0">请选择</option>
                            </select>
                            <!-- <input class="form-control" id="searchEntity_nameOfRegistrant" >-->
                        </td>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品类别：</span>
                        </td>
                        <td style="white-space:nowrap">
                            <select class="num" id="drug_category_id2" name="drugCategoryId" onblur="checkDrugCategory()" style="width:50%;height: 10%">
                                <option value="0">请选择</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品流水号：</span>
                        </td>
                        <td>
                            <input id="serial_number2" name="serialNumber" class="form-control">
                        </td>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">通用名：</span>
                        </td>
                        <td>
                            <input id="common_name2" name="commonName" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">剂型：</span>
                        </td>
                        <td style="white-space:nowrap">
                            <select  id="drug_from2" name="drugFrom" onblur="checkDosageForm()" style="width:50%;height: 10%">
                                <option value="0">请选择</option>
                            </select>
                        </td>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">规格：</span>
                        </td>
                        <td>
                            <input id="specification2" name="specification" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">单位：</span>
                        </td>
                        <td>
                            <input id="unit2" name="unit" class="form-control">
                        </td>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">转换系数：</span>
                        </td>
                        <td>
                            <input id="conversion_fraction2" name="conversionFraction" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">生产企业：</span>
                        </td>
                        <td>
                            <input id="enterprise_name2" name="enterpriseName" class="form-control">
                        </td>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">商品名：</span>
                        </td>
                        <td>
                            <input id="trade_name2" name="tradeName" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">质量层次：</span>
                        </td>
                        <td style="white-space:nowrap">
                            <select class="num" id="level2" name="level" onblur="checkDosageForm()" style="width:50%;height: 10%">
                                <option value="0">请选择</option>
                            </select>
                        </td>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">入库时间：</span>
                        </td><!--purchase_order采购表  建单时间   提交时间-->
                        <td style="word-break: keep-all;white-space: nowrap;width: 32%">
                            <input  id="create_receipts_time2" name="submissionTimes" style="width: 40%"><span style="color: #0E74B4">至</span><input id="submission_time2" name="serialNumber" style="width: 40%;">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品批号：</span>
                        </td>
                        <td>
                            <input id="drug_batch_number2" name="drugBatchNumber" class="form-control">
                        </td>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">退货状态：</span>
                        </td>
                        <td>
                            <select id="return_of_state2" name="returnOfState" style="width: 50%;height: 20%">
                                <option value="1">未确认退货</option>
                                <option value="2">已确认退货</option>
                            </select>
                            <!-- <input class="form-control" id="" >-->
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">发票号或入库单号：</span>
                        </td>
                        <td>
                            <input id="Invoice_number2" name="InvoiceNumber" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="saveDrugForm()" data-dismiss="modal">保存退货药品</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel1">药品品目导入</h3>
            </div>
            <div style="text-align: center">
                下载模板文件<a href="#">点击下载药品品目导入模板</a>
            </div>
            <div style="text-align: center;color: red">提示：请下载后在模板文件中录入药品信息,在下面的“选择文件”中选择要导入的文件,点击“导入”</div>
            <div class="modal-body" style="text-align: center">
                <input type="file" name="file" id="file">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="uploadfile()">上传</button>
                <button class="btn btn-warning" onclick="">查看导入失败结果</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>


        </div>
    </div>
</div>
</body>
</html>



