<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygjy.systemmanagement.dao.AddressCityMapper">
  <resultMap id="BaseResultMap" type="com.ygjy.systemmanagement.pojo.AddressCity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ccode" jdbcType="CHAR" property="ccode" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="provinceCode" jdbcType="CHAR" property="provincecode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ccode, cname, provinceCode
  </sql>
    <!--通过省code查询下属市-->
    <select id="selectByPcode" resultMap="BaseResultMap">
        select 'true' as QUERYID,
        <include refid="Base_Column_List" />
        from address_city
        where provinceCode = #{pcode,jdbcType=VARCHAR}
    </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from address_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ygjy.systemmanagement.pojo.AddressCity">
    insert into address_city (id, ccode, cname, 
      provinceCode)
    values (#{id,jdbcType=INTEGER}, #{ccode,jdbcType=CHAR}, #{cname,jdbcType=VARCHAR}, 
      #{provincecode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ygjy.systemmanagement.pojo.AddressCity">
    insert into address_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ccode != null">
        ccode,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="provincecode != null">
        provinceCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ccode != null">
        #{ccode,jdbcType=CHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null">
        #{provincecode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ygjy.systemmanagement.pojo.AddressCity">
    update address_city
    <set>
      <if test="ccode != null">
        ccode = #{ccode,jdbcType=CHAR},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null">
        provinceCode = #{provincecode,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ygjy.systemmanagement.pojo.AddressCity">
    update address_city
    set ccode = #{ccode,jdbcType=CHAR},
      cname = #{cname,jdbcType=VARCHAR},
      provinceCode = #{provincecode,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>