
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <title>采购平台V1.0</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="js/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="js/angularjs/toaster.min.css">

    <script src="../js/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../js/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="js/supervision/Drug_item_maintenance.js"></script>


    <script type="text/javascript">
        function down(){
            window.location.href="down";
        }
    </script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-controller="PurchasingManagementController1">
<!-- .box-body -->
<toaster-container toaster-options="{'time-out': 1000,'position-class':'toast-top-center'}"></toaster-container>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">采购药品入库</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单编号：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_unitName">
            </td>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单名称：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_organizationalCode">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购状态：</span>
            </td>
            <td>
                <select id="durgfrom" style="width: 50%;height: 20%">
                    <option value="0">请选择</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购医院：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">开始采购时间：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">结束采购时间：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品流水号：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_unitName">
            </td>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">通用名：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_organizationalCode">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">剂型：</span>
            </td>
            <td>
                <select id="durgfrom" style="width: 50%;height: 20%">
                    <option value="0">请选择</option>
                    <option value="1">注射剂</option>
                    <option value="2">口服剂</option>
                    <option value="3">糖浆剂</option>
                    <option value="4">颗粒剂</option>
                    <option value="5">喷雾剂</option>
                    <option value="6">凝胶剂</option>
                    <option value="7">吸入剂</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">规格：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">单位：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">转换系数：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">生产企业：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">商品名：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品类别：</span>
            </td>
            <td>
                <select style="width: 50%;height: 20%">
                    <option value="0">请选择</option>
                    <option value="1">儿童用药</option>
                    <option value="2">营养治疗药</option>
                    <option value="3">中成药</option>
                    <option value="4">中西成药</option>
                    <option value="5">感冒药</option>
                    <option value="6">退烧药</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">入库时间：</span>
            </td>
            <td style="word-break: keep-all;white-space: nowrap;width: 32%">
                <input style="width: 23%"><span style="color: #0E74B4">至</span><input style="width: 23%;">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品批号：</span>
            </td>
            <td>
                <input class="form-control" id="" style="width: 50%;height: 20%">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">发票号或入库单号：</span>
            </td>
            <td>
                <input class="form-control" id="" >
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">供货商：</span>
            </td>
            <td>
                <input class="form-control" id="" style="width: 50%;height: 20%">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4"></span>
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 10px">
        <button class="btn btn-success btn-sm" onclick="selectByEntity()">查询</button>
        <button class="btn btn-success btn-sm" onclick="selectByEntity()">导出</button>
    </div>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <!-- 数据表格 -->
        <div class="table-box">
            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <input type="checkbox"><i>全选</i>
                        <input type="checkbox"><i>反选</i>
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#editModal">确认入库
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="sorting_asc">序号</th>
                <th class="sorting_asc">选择</th>
                <th class="sorting_asc">采购单编号</th>
                <th class="sorting_asc">采购单名称</th>
                <th class="sorting_asc">流水号</th>
                <th class="sorting_asc">通用名</th>
                <th class="sorting">商品名</th>
                <th class="sorting">中标价</th>
                <th class="sorting">交易价</th>
                <th class="sorting">采购量</th>
                <th class="sorting">采购金额</th>
                <th class="sorting">入库量</th>
                <th class="sorting">实际交易金额</th>
                <th class="sorting">发票号或入库单号</th>
                <th class="sorting">药品批号</th>
                <th class="sorting">药品有效期(单位:年)</th>
                <th class="sorting">剂型</th>
                <th class="sorting">规格</th>
                <th class="sorting">单位</th>
                <th class="sorting">转换系数</th>
                <th class="sorting">详细</th>
                <th class="sorting">修改</th>
                <th class="sorting">删除</th>
            </tr>
            </thead>
            <tbody class="context">
            <tr>
                <td>00008</td>
                <td>0.9%氯化钠</td>
                <td>大输液</td>
                <td>1000ml（玻瓶）</td>
                <td>瓶</td>
                <td>1</td>
                <td>哈药六厂</td>
                <td>0.9%氯化钠</td>
                <td>3.0</td>
                <td>国家一类新药</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>正常</td>
                <td>
                    <a href="#">查看</a>
                </td>
                <td>
                    <a href="#">修改</a>
                </td>
                <td>
                    <a href="#">删除</a>
                </td>
            </tr>
            </tbody>

        </table>
        <!--数据列表/-->
        <!--分页工具条展示-->
        <div style="text-align: center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 数据表格 /-->
</div>
</body>
</html>


