
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <title>按交易药品查询</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="js/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="js/angularjs/toaster.min.css">

    <script src="../js/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../js/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/WdatePicker.js"></script>
<!--引入自己的js-->
    <script src="js/supervision/select_box.js"></script>
    <script src="js/supervision/drug_trading_enquiry.js"></script>


    <script type="text/javascript">
        function down(){
            window.location.href="down";
        }
    </script>

</head>
<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<toaster-container toaster-options="{'time-out': 1000,'position-class':'toast-top-center'}"></toaster-container>
<form action="" id="fuzzyFormId" method="post">
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">按采购单查询</div>
        <!-- Table -->
        <table class="table">
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单编号：</span>
                </td>
                <td >
                    <input name="purchaseOrderNumber" id="purchaseOrderNumber" class="form-control">
                </td>
                <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单名称：</span>
                </td>
                <td >
                    <input name="nameOfPurchaseOrder" id="nameOfPurchaseOrder" class="form-control">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单状态：</span>
                </td>
                <td>
                    <select name="purchaseState" id="purchaseOrdersStatesId" style="width: 50%;height: 20%">
                        <option value="0">请选择</option>
                    </select>
                    <!-- <input class="form-control" id="searchEntity_nameOfRegistrant" >-->
                </td>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购医院：</span>
                </td>
                <td>
                    <select name="hospitalId" id="hospitalId" style="width: 50%;height: 20%">
                        <option value="0">请选择</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">供货商：</span>
                </td>
                <td>
                    <select name="" id="suppliers_id" style="width: 50%;height: 20%">
                        <option value="0">请选择</option>
                    </select>
                </td>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">统计时间：</span>
                </td>
                <td style="word-break: keep-all;white-space: nowrap;width: 32%">
                    <input id="createTime" name="procurementStartTime" style="width: 23%" onclick=WdatePicker({dateFmt:'yyyy-MM-dd'}) readonly="readonly"><span style="color: #0E74B4">至</span><input id="subTime" name="procurementEndTime" style="width: 23%;" onclick=WdatePicker({dateFmt:'yyyy-MM-dd'}) readonly="readonly">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品流水号：</span>
                </td>
                <td >
                    <input name="serialNumber" class="form-control" id="serialNumber">
                </td>
                <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">通用名：</span>
                </td>
                <td >
                    <input name="commonName" id="commonName" class="form-control">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">剂型：</span>
                </td>
                <td>
                    <select name="dosageFormId" id="drugsFromId" style="width: 50%;height: 20%">
                        <option value="0">请选择</option>
                    </select>
                </td>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">规格：</span>
                </td>
                <td>
                    <input name="specification" id="specification" class="form-control">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">单位：</span>
                </td>
                <td>
                    <input name="unit" id="unit" class="form-control">
                </td>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">转换系数：</span>
                </td>
                <td>
                    <input name="conversionFraction" id="conversionFraction" class="form-control">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">生产企业：</span>
                </td>
                <td>
                    <select name="enterpriseNameId" id="enterpriseNameId" style="width: 50%;height: 20%">
                        <option value="0">请选择</option>
                    </select>
                </td>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">商品名：</span>
                </td>
                <td>
                    <input name="tradeName" id="tradeName" class="form-control">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">质量层次：</span>
                </td>
                <td>
                    <select name="qualityLevelId" id="qualityLevelId" style="width: 50%;height: 20%">
                        <option value="0">请选择</option>
                    </select>
                </td>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品类别：</span>
                </td>
                <td>
                    <select name="drugCategoryId" id="drugCategory_id" style="width: 50%;height: 20%">
                        <option value="0">请选择</option>
                    </select>
                    <!-- <input class="form-control" id="" style="width: 50%;height: 20%">-->
                </td>
            </tr>
        </table>
        <div style="text-align: center;padding-top: 10px">
            <button type="button" class="btn btn-success btn-sm" onclick="fenye()">查询</button>
            <button type="button" class="btn btn-success btn-sm" onclick="download()">导出</button>
        </div>
    </div>
</form>
<div class="box-body">
    <!-- 数据表格 -->
    <!--数据列表-->
    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
        <thead>
        <tr>
            <th class="sorting_asc">序号</th>
            <th class="sorting_asc">流水号</th>
            <th class="sorting">通用名</th>
            <th class="sorting">商品名</th>
            <th class="sorting">剂型</th>
            <th class="sorting">规格</th>
            <th class="sorting">单位</th>
            <th class="sorting">转换系数</th>
            <th class="sorting">质量层次</th>
            <th class="sorting">生产企业</th>
            <th class="sorting">采购量</th>
            <th class="sorting">采购金额</th>
            <th class="sorting">采购状态</th>
            <th class="sorting">入库量</th>
            <th class="sorting">入库金额</th>
            <th class="sorting">退货量</th>
            <th class="sorting">退货金额</th>
        </tr>
        </thead>
        <tbody class="context">
        <tr>
            <td>1</td>
            <td>00008</td>
            <td>0.9%氯化钠</td>
            <td>0.9%氯化钠</td>
            <td>大输液</td>
            <td>1200ml</td>
            <td>瓶</td>
            <td>1</td>
            <td>国家科学进步奖</td>
            <td>哈药六厂</td>
            <td>30</td>
            <td>90.0</td>
            <td>已入库</td>
            <td>30</td>
            <td>90.0</td>
            <td>6</td>
            <td>16.0</td>
        </tr>
        </tbody>

    </table>
    <!--数据列表/-->
    <!--分页工具条展示-->
    <div style="text-align: center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- 数据表格 /-->
</div>
</body>
</html>


