<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script>
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#demo'
                ,height: 312
                ,url: 'findUserAll' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'userAccount', title: '用户名', width:80}
                    ,{field: 'userName', title: '用户账号', width:80, sort: true}
                    ,{field: 'roleId', title: '用户类别', width:80}
                    ,{field: 'userState', title: '用户状态', width: 177}
                    ,{field: 'unitId', title: '单位地址', width: 80, sort: true}
                    ,{field: 'contactAddress', title: '联系地址', width: 80, sort: true}
                    ,{field: 'postCode', title: '邮政编码', width: 80}
                    ,{field: 'contacts', title: '联系人', width: 135, sort: true}
                    ,{field: 'phone', title: '联系方式', width: 135, sort: true}
                    ,{field: 'email', title: '邮箱', width: 135, sort: true}
                ]]
            });
        });
    </script>
</head>
<body>
<table id="demo" lay-filter="test"></table>
</body>
</html>