<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>


</head>
<body>
    <div>
        <h1>权限分配</h1>
        <form class="" id="form_add" style="display: none" >
            <br>
            <table lay-even lay-skin="line" lay-size="lg">
                <tr class="layui-form-item">
                    <td><label class="layui-form-label">角色名称</label></td>
                    <td class="layui-input-block"><input class="layui-input"  type="text" name="suppliersId" placeholder="管理员"></td>
                </tr>
                <tr class="layui-form-item">
                    <td><label class="layui-form-label">供货商名称</label></td>
                    <td class="layui-input-block"><input class="layui-input" type="text" name="supplierName" ></td>
                    <td><label class="layui-form-label">联系方式</label></td>
                    <td class="layui-input-block"><input onblur="addProperty(this)" class="layui-input" type="text" name="supplierPhone" ></td>
                </tr>
                <tr class="layui-form-item">
                    <td><label class="layui-form-label">联系地址</label></td>
                    <td class="layui-input-block"><input class="layui-input" type="text" name="supplierAddress" ></td>
                    <td><label class="layui-form-label">供货商邮箱</label></td>
                    <td class="layui-input-block"><input onblur="addProperty(this)" class="layui-input" type="text" name="supplierEmail" ></td>
                </tr>
                <tr class="layui-form-item">
                    <td><label class="layui-form-label">供货商邮编</label></td>
                    <td class="layui-input-block"><input  class="layui-input" type="text" name="supplierPostcode" ></td>
                </tr>
            </table>
            <div class="modal-footer">
                <button class="layui-btn layui-btn-normal" style="float: left;margin-left:100px" onclick="addSave()">提交</button>
                <button class="layui-btn layui-btn-normal" style="float: right;margin-right:100px">取消</button>
            </div>
        </form>
    </div>
</body>
</html>