
<!--案件登记-->
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <title>取消供货</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../angularjs/toaster.min.css">
    <script src="../js/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../js/plugins/bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        function down(){
            window.location.href="down";
        }
    </script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="shebao" ng-controller="registrationOfCasesController">
<!-- .box-body -->
<toaster-container toaster-options="{'time-out': 1000,'position-class':'toast-top-center'}"></toaster-container>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">取消供货</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品流水号：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_unitName">
            </td>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">通用名：</span>
            </td>
            <td >
                <input class="form-control" id="searchEntity_organizationalCode">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">剂型：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%">
                    <option value="0">请选择</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">规格：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">单位：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">转换系数：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">生产企业：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">商品名：</span>
            </td>
            <td>
                <input class="form-control">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">价格范围：</span>
            </td>
            <td>
                <input class="form-control" style="width: 120px;float: left"><span style="float: left">至</span><input class="form-control" style="width: 120px;float: left">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">质量层次：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%">
                    <option value="0">请选择</option>
                </select>
                <!-- <input class="form-control" id="" style="width: 50%;height: 20%">-->
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品类别：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%">
                    <option value="0">请选择</option>
                </select>
                <!-- <input class="form-control" id="" style="width: 50%;height: 20%">-->
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品交易状态：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%">
                    <option value="0">请选择</option>
                </select>
                <!-- <input class="form-control" id="" >-->
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 10px">
        <button class="btn btn-success btn-sm" onclick="selectByEntity()">查询</button>
    </div>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div style="padding-top: 10px">
        <input type="checkbox" id="boxid" onclick="setAllNo()"  style="width:25px;height:25px;" /><span style="font-weight: bold">全选/全不选</span><button class="btn btn-success btn-sm" onclick="" style="margin-left: 10px">确认取消供货</button>
    </div>
    <div class="table-box">
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="sorting_asc">序号</th>
                <th class="sorting_asc">取消供货</th>
                <th class="sorting_asc">药品流水号</th>
                <th class="sorting_asc">通用名</th>
                <th class="sorting">剂型</th>
                <th class="sorting">规格</th>
                <th class="sorting">单位</th>
                <th class="sorting">转换系数</th>
                <th class="sorting">生产企业</th>
                <th class="sorting">商品名称</th>
                <th class="sorting">中标价</th>
                <th class="sorting">质量层次</th>
                <th class="sorting">药品类别</th>
                <th class="sorting">交易状态</th>
                <th class="sorting">详细</th>
                <th class="sorting">修改</th>
                <th class="sorting">删除</th>
            </tr>
            </thead>
            <tbody class="context">
            <tr>
                <td>1</td>
                <td><input type="checkbox"></td>
                <td>0000008</td>
                <td>0.9%氯化钠</td>
                <td>大输液</td>
                <td>1000ml（玻瓶）</td>
                <td>瓶</td>
                <td>1</td>
                <td>哈药集团制药厂</td>
                <td>0.9%氢化钠</td>
                <td>3.0</td>
                <td>国家科学进步奖</td>
                <td>儿童用药</td>
                <td>正常</td>
                <td>
                    <a href="#">查看</a>
                </td>
                <td>
                    <a href="#">修改</a>
                </td>
                <td>
                    <a href="#">删除</a>
                </td>
            </tr>
            </tbody>

        </table>
        <!--数据列表/-->
        <!--分页工具条展示-->
        <div style="text-align: center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 数据表格 /-->
</div>
</body>
</html>