
<!--案件登记-->
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="IE=edge">
    <title>按采购单查询</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../js/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../angularjs/toaster.min.css">
    <script src="../js/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../js/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/WdatePicker.js"></script>

    <script type="text/javascript">
        $(function () {
            selectByEntity();
        })
        function selectByEntity(pageNum){
            $("#tbody").empty();
            var purchaseOrderNumber=$("#purchaseOrderNumber").val();
            var nameOfPurchaseOrder=$("#nameOfPurchaseOrder").val();
            var purchaseOrdersStatesId=$("#purchaseOrdersStatesId").val();
            var hospitalName=$("#hospitalName").val();
            var createTime=$("#createTime").val();
            var subTime=$("#subTime").val();
            var serialNumber=$("#serialNumber").val();
            var commonName=$("#commonName").val();
            var dosageFormId=$("#dosageFormId").val();
            var specification=$("#specification").val();
            var unit=$("#unit").val();
            var conversionFraction=$("#conversionFraction").val();
            var tradeName=$("#tradeName").val();
            var enterpriseNameId=$("#enterpriseNameId").val();
            var drugCategoryId=$("#drugCategoryId").val();
            var suppliersid=$("#suppliersid").val();
            $.ajax({
                url:"selectPurchaseToOrder",
                data:{
                    "purchaseOrderNumber":purchaseOrderNumber,
                    "nameOfPurchaseOrder":nameOfPurchaseOrder,
                    "purchaseOrdersStatesId":purchaseOrdersStatesId,
                    "hospitalName":hospitalName,
                    "createTime":createTime,
                    "subTime":subTime,
                    "serialNumber":serialNumber,
                    "commonName":commonName,
                    "dosageFormId":dosageFormId,
                    "specification":specification,
                    "unit":unit,
                    "conversionFraction":conversionFraction,
                    "tradeName":tradeName,
                    "enterpriseNameId":enterpriseNameId,
                    "drugCategoryId":drugCategoryId,
                    "suppliersid":suppliersid,
                    "pageNum":pageNum
                },
                type:"post",
                dataType:"json",
                success:function (result) {
                    console.log(result);
                    var v = "";
                    for(var i=0;i<result.list.length;i++){
                        var data=result.list;
                        var purchaseOrdersStatesId=data[i].purchaseOrderDrugDetails.purchaseOrdersStatesId;
                        if(purchaseOrdersStatesId==1){
                            purchaseOrdersStatesId="未确认送货";
                        }
                        if(purchaseOrdersStatesId==2){
                            purchaseOrdersStatesId="已发货";
                        }
                        if(purchaseOrdersStatesId==3){
                            purchaseOrdersStatesId="已入库";
                        }
                        if(purchaseOrdersStatesId==4){
                            purchaseOrdersStatesId="无法供货";
                        }
                        if(purchaseOrdersStatesId==5){
                            purchaseOrdersStatesId="到期无法供货";
                        }
                        var date1=data[i].purchaseOrder.startTime;
                        var date2=data[i].purchaseOrder.endTime;
                        var date3=data[i].purchaseOrder.createReceiptsTime;
                        var date4=data[i].purchaseOrder.submissionTime;
                        var date5=data[i].purchaseOrder.auditTime;
                        var s2=new Date(date2);
                        var s1=new Date(date1);
                        var s3=new Date(date3);
                        var s4=new Date(date4);
                        var s5=new Date(date5);
                        year=s1.getFullYear();
                        month=s1.getMonth()+1;
                        day=s1.getDate();
                        time=year+'-'+getzf(month)+'-'+getzf(day);
                        year1=s2.getFullYear();
                        month1=s2.getMonth()+1;
                        day1=s2.getDate();
                        time2=year1+'-'+getzf(month1)+'-'+getzf(day1);
                        year2=s3.getFullYear();
                        month2=s3.getMonth()+1;
                        day2=s3.getDate();
                        time3=year2+'-'+getzf(month2)+'-'+getzf(day2);
                        year3=s4.getFullYear();
                        month3=s4.getMonth()+1;
                        day3=s4.getDate();
                        time4=year3+'-'+getzf(month3)+'-'+getzf(day3);
                        year4=s5.getFullYear();
                        month4=s5.getMonth()+1;
                        day4=s5.getDate();
                        time5=year4+'-'+getzf(month4)+'-'+getzf(day4);
                        v+='<tr>';
                        v+='<td>'+(i+1)+'</td>'
                        v+='<td><input type="checkbox" name="del" value='+data[i].id+'></td>';
                        v+='<td>'+data[i].purchaseOrder.purchaseOrderNumber+'</td>'
                        v+='<td>'+data[i].purchaseOrder.nameOfPurchaseOrder+'</td>'
                        v+='<td>'+data[i].hospital.hospitalName+'</td>'
                        v+='<td>'+purchaseOrdersStatesId+'</td>'
                        v+='<td>'+time+'</td>'
                        v+='<td>'+time2+'</td>'
                        v+='<td>'+time3+'</td>'
                        v+='<td>'+time4+'</td>';
                        v+='<td>'+time5+'</td>';
                        v+='<td>'+data[i].hospitalTransactionDetails.purchasedAmount+'</td>';
                        v+='<td>'+data[i].hospitalTransactionDetails.purchasedMoney+'</td>';
                        v+='<td>'+data[i].hospitalTransactionDetails.receiptAmount+'</td>'
                        v+='<td>'+data[i].hospitalTransactionDetails.receiptMoney+'</td>'
                        v+='<td>'+data[i].hospitalTransactionDetails.returnsTheAmount+'</td>'
                        v+='<td>'+data[i].hospitalTransactionDetails.returnsTheMoney+'</td>'
                        v+='<td>'+data[i].hospitalTransactionDetails.finalSettlementAmount+'</td>'
                        v+='<td>'+data[i].hospitalTransactionDetails.finalSettlementMoney+'</td>'
                        v+='<td><a href="#" data-target="#editModal1" data-toggle="modal" onclick="saw('+data[i].id+')">查看</a></td>'
                        v+='</tr>';
                    }
                    $("#tbody").append(v);
                    qian=result.pageNum==1?1:result.pageNum-1;
                    hou=result.pageNum==result.pages?result.pages:result.pageNum+1;
                }
            })
        }
        // 剂型
        $.ajax({
            url:"selectDurgsFrom",
            data:{},
            type:"post",
            dataType:"json",
            success:function (result) {
                $("#dosageFormId").empty();
                $("#dosageFormId").prepend('<option value="0">请选择</option>')
                for(var i=0;i<result.data.length;i++){
                    var list=result.data;
                    $("#dosageFormId").prepend('<option value="' + list[i].durgFromId + '">' + list[i].drugFrom + '</option>')
                }
            }
        })
        // 药品类别
        $.ajax({
            url:"selectdrugcategory",
            data:{},
            type:"post",
            dataType:"json",
            success:function (result) {
                $("#drugCategoryId").empty();
                $("#drugCategoryId").prepend('<option value="0">请选择</option>')
                for(var i=0;i<result.data.length;i++){
                    var list=result.data;
                    $("#drugCategoryId").prepend('<option value="' + list[i].drugCateGoryId + '">' + list[i].drugCategoryName + '</option>')
                }
            }
        })
        //企业表查询
        $.ajax({
            url:"enterPrise",
            data:{},
            type:"post",
            dataType:"json",
            success:function (result) {
                $("#enterpriseNameId").empty();
                $("#enterpriseNameId").prepend('<option value="0" >请选择</option>')
                for(var i=0;i<result.data.length;i++){
                    var list=result.data;
                    $("#enterpriseNameId").prepend('<option value="' + list[i].id + '">' + list[i].enterpriseName + '</option>')
                }
            }
        })
        //供货商
        $.ajax({
            url:"supplierSelect",
            data:{},
            type:"post",
            dataType:"json",
            success:function (result) {
                $("#suppliersid").empty();
                $("#suppliersid").prepend('<option value="0">请选择</option>')
                for(var i=0;i<result.data.length;i++){
                    var list=result.data;
                    $("#suppliersid").prepend('<option value="' + list[i].suppliersid + '">' + list[i].suppliername + '</option>')
                }
            }
        })
        //全选/全不选
        function setAllNo() {
            var box = document.getElementById("boxid");
            var loves = document.getElementsByName("del");
            if(box.checked == false){
                for (var i = 0; i < loves.length; i++)
                {
                    loves[i].checked = false;
                }
            }else{
                for (var i = 0; i < loves.length; i++)
                {
                    loves[i].checked = true;
                }
            }
        }
        // 导出
        function Export() {
            var import1=$('input[name="del"]:checked').length;
            if(import1==0){
                alert("请至少选择一项导出");
                return;
            }
            if(confirm("确定要导出吗?")){
                var importId=[];
                $('input[name="del"]:checked').each(function () {
                    importId.push($(this).val())
                })
                window.location.href="export6?importId="+importId;
            }
        }
        function getzf(num) {
            if(parseInt(num)<10){
                num='0'+num;
            }
            return num;
        }
    </script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="shebao" ng-controller="registrationOfCasesController">
<!-- .box-body -->
<toaster-container toaster-options="{'time-out': 1000,'position-class':'toast-top-center'}"></toaster-container>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">按采购单查询</div>
    <!-- Table -->
    <table class="table">
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单编号：</span>
            </td>
            <td >
                <input class="form-control" id="purchaseOrderNumber">
            </td>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购单名称：</span>
            </td>
            <td >
                <input class="form-control" id="nameOfPurchaseOrder">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购状态：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%" id="purchaseOrdersStatesId">
                    <option value="-1">请选择</option>
                    <option value="1">未确认送货</option>
                    <option value="2">已发货</option>
                    <option value="3">已入库</option>
                    <option value="4">无法供货</option>
                    <option value="5">到期无法供货</option>
                </select>
                <!-- <input class="form-control" id="" >-->
            </td>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">采购医院：</span>
            </td>
            <td >
                <input class="form-control" id="hospitalName">
            </td>
        </tr>
        <tr>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">供货商：</span>
            </td>
            <td >
                <select style="width: 30%;height: 20%" id="suppliersid">
                    <option value="0">请选择</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">统计时间：</span>
            </td>
            <td>
                <input class="form-control" style="width: 120px;float: left" id="createTime" onclick=WdatePicker({dateFmt:'yyyy-MM-dd'})  readonly="readonly"><span style="float: left" >至</span><input class="form-control" style="width: 120px;float: left" id="subTime" onclick=WdatePicker({dateFmt:'yyyy-MM-dd'})  readonly="readonly">
            </td>
        </tr>
        <tr>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品流水号：</span>
            </td>
            <td >
                <input class="form-control" id="serialNumber">
            </td>
            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">通用名：</span>
            </td>
            <td >
                <input class="form-control" id="commonName" style="float: left"><label style="float: left" class="btn-success">按拼音首字母</label>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">剂型：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%" id="dosageFormId">
                    <option value="0">请选择</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">规格：</span>
            </td>
            <td>
                <input class="form-control" id="specification">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">单位：</span>
            </td>
            <td>
                <input class="form-control" id="unit">
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">转换系数：</span>
            </td>
            <td>
                <input class="form-control" id="conversionFraction">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">生产企业：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%" id="enterpriseNameId">
                    <option value="0">请选择</option>
                </select>
            </td>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">商品名：</span>
            </td>
            <td>
                <input class="form-control" id="tradeName">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">药品类别：</span>
            </td>
            <td>
                <select style="width: 30%;height: 20%" id="drugCategoryId">
                    <option value="0">请选择</option>
                </select>
                <!-- <input class="form-control" id="" style="width: 50%;height: 20%">-->
            </td>
        </tr>
    </table>
    <div style="text-align: center;padding-top: 10px">
        <button class="btn btn-success btn-sm" onclick="selectByEntity()">查询</button>
        <button class="btn btn-success btn-sm" onclick="Export()">导出</button>
    </div>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="sorting_asc">序号</th>
                <th class="sorting_asc"><input type="checkbox" id="boxid" onclick="setAllNo()"  style="width:25px;height:25px;" /><span style="font-weight: bold">选择</span></th>
                <th class="sorting_asc">采购医院</th>
                <th class="sorting_asc">采购单编号</th>
                <th class="sorting_asc">采购单名称</th>
                <th class="sorting">采购状态</th>
                <th class="sorting_asc">开始采购时间</th>
                <th class="sorting_asc">结束采购时间</th>
                <th class="sorting_asc">建单时间</th>
                <th class="sorting_asc">提交时间</th>
                <th class="sorting_asc">审核时间</th>
                <th class="sorting_asc">采购量</th>
                <th class="sorting_asc">采购金额</th>
                <th class="sorting_asc">入库量</th>
                <th class="sorting_asc">入库金额</th>
                <th class="sorting_asc">退货量</th>
                <th class="sorting_asc">退货金额</th>
                <th class="sorting">结算量</th>
                <th class="sorting">结算金额</th>
                <th class="sorting">详细</th>
            </tr>
            </thead>
            <tbody class="context" id="tbody">
            <tr>
                <td>1</td>
                <td>崔庙镇卫生室</td>
                <td>0000002</td>
                <td>崔庙镇卫生室采购单</td>
                <td>无法供货</td>
                <td>2019-01-01</td>
                <td>2019-02-02</td>
                <td>2019-02-02</td>
                <td>2019-02-02</td>
                <td>2019-02-02</td>
                <td>59</td>
                <td>500</td>
                <td>109</td>
                <td>230</td>
                <td>400</td>
                <td>309</td>
                <td>109</td>
                <td>678</td>
                <td>
                    <a href="#">查看</a>
                </td>
                <td>
                    <a href="#">修改</a>
                </td>
                <td>
                    <a href="#">删除</a>
                </td>
            </tr>
            </tbody>

        </table>
        <!--数据列表/-->
        <!--分页工具条展示-->
        <div style="text-align: center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous" onclick="selectByEntity(qian)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#" onclick="selectByEntity(1)">1</a></li>
                    <li><a href="#" onclick="selectByEntity(2)">2</a></li>
                    <li><a href="#" onclick="selectByEntity(3)">3</a></li>
                    <li><a href="#" onclick="selectByEntity(4)">4</a></li>
                    <li><a href="#" onclick="selectByEntity(5)">5</a></li>
                    <li>
                        <a href="#" aria-label="Next" onclick="selectByEntity(hou)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 数据表格 /-->
</div>
</body>
</html>